.env
node_modules
request.rest
test.js
DBtest.js
subscriptions.json
dumps.js
converter.js
config.js
swagger.json
encrypt_pass.js
test.py
testfile.txt
u-net-architecture.png
demo.gif
Thesis_NikosTzanettis.pdf
test1.py
test1.js
employee/NLP.js